<template>
    <footer class="footer">
        <div class="container">
            <img 
                src="../../static/OBINNA.svg"
                class="logo"
            />
        </div>
        <div class="container">
            <span v-html="settings.footer" />
        </div>
    </footer>
</template>

<script>
export default {
    data() {
        return {
            settings: require("../../data/theme.json")
        }
    }
}
</script>

<style scoped>
.logo {
    height: 1.5rem;
}
.footer {
    font-size: 0.8rem;
    padding: 6rem 0;
    text-align: center;
}
</style>
